{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
	{#
		{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
			<a href="{{ path('manga.add') }}"> Ajouter un manga </a>
		{% endif %}
	#}
		{% if data is not empty %}
			<fieldset>
				<legend>Votre panier</legend>
				<table>
					<caption>Recapitulatifs du panier</caption>
					<thead>
					<tr><th>nom du manga</th><th>quantité </th><th>prix</th><th>date d'ajout</th><th> - </th>
					</thead>
					<tbody>

					{% for panier in data if data is not empty %}
						<tr>
							<td>{{panier.nom}}</td><td>{{panier.quantite}}</td><td>{{ panier.prix }}</td><td>{{panier.dateAjoutPanier}}</td><td><a href="{{ path('panier.add', {id: panier.id}) }}"> Ajouter</a><a href="{{ path('panier.delete', {id : panier.id }) }}">  Supprimer</a></td>

						</tr>
					{% endfor %}
					</tbody>
				</table>
				<a href="{{ url('commande.add') }}">valider commande</a>
			</fieldset>
			<a href="{{ url('manga.show') }}">Retour sur la page des ventes</a>
		{% else %}
			<p>Votre panier est vide. <a href="{{ url('manga.show') }}">Retour sur la page des ventes</a></p>
		{% endif %}

	</div>
{% endblock %}

