{% extends "layout.html.twig" %}
{% block contenu %}
<form method="post" action="{{ path('manga.validFormAdd') }}">
    <div class="row">
        <fieldset>
            <legend>Creer un manga </legend>
            <label>Nom :
                <input name="nom"  type="text"  size="18" value="{{donnees.nom|default('')}}" />
                {% if erreurs.nom is defined %}
                    <small class="error">{{erreurs.nom}}</small>
                {% endif %}
            </label>
            <label>Type :
                <select name="typeManga_id">
                    {% if  donnees.typeManga_id is not defined or donnees.typeManga_id is empty   %}
                        <option value="">Veuillez sélectionner un type de manga</option>
                    {% endif %}
                    {% for typeManga in typeMangas %}
                        <option value="{{ typeManga.id }}"
                                {% if donnees.typeManga_id is defined and typeManga.id == donnees.typeManga_id %}selected{% endif %}>
                            {{ typeManga.libelle }}
                        </option>
                    {% endfor %}
                    </select>
                {% if erreurs.typeManga_id is defined %}
                    <small class="error">{{erreurs.typeManga_id}}</small>
                {% endif %}
            </label>
            <label>Nombre d'épisode:
                <input name="nbEpisode"  type="text"  size="18" 	value="{{donnees.nbEpisode|default('')}}"/>
                {% if erreurs.nbEpisode is defined %}
                    <small class="error">{{erreurs.nbEpisode}}</small>
                {% endif %}
            </label>
            <label>Prix :
                <input name="prix"  type="text"  size="18" 	value="{{donnees.prix|default('')}}"/>
                {% if erreurs.prix is defined %}
                    <small class="error">{{erreurs.prix}}</small>
                {% endif %}
            </label>
            <label>Photo :
                <input name="photo"  type="text"  size="18" value="{{donnees.photo|default('')}}"/>
                {% if erreurs.photo is defined %}
                    <small class="error">{{erreurs.photo}}</small>
                {% endif %}
            </label>
            <label>Dispo :
                <input name="dispo"  type="text"  size="18" 	value="{{donnees.dispo|default('')}}"/>
                {% if erreurs.dispo is defined %}
                    <small class="error">{{erreurs.dispo}}</small>
                {% endif %}
            </label>
            <label>Stock:
                <input name="stock"  type="text"  size="18" 	value="{{donnees.stock|default('')}}"/>
                {% if erreurs.stock is defined %}
                    <small class="error">{{erreurs.stock}}</small>
                {% endif %}
            </label>
            <input type="submit" name="creerManga" value="créer" />
        </fieldset>
    </div>
</form>
{% endblock %}
