{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
		{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
			<a href="{{ path('manga.add') }}"> Ajouter un manga </a>
		{% endif %}

		<table>
			<caption>Recapitulatifs des mangas (avec twig)</caption>
			<thead>
			<tr><th>nom</th><th>id</th><th>type</th><th>prix</th><th>nom photo</th><th>photo</th><th>dispo</th>
				{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
					<th>stock</th>
					<th>opération</th>
				{% endif %}
			</tr>
			</thead>
			<tbody>
			{% for manga in data if data is not empty %}

				<tr>
					<td>{{manga.nom}}</td><td>{{manga.id}}</td><td>{{manga.libelle}}</td><td>{{manga.prix}}</td><td>
						{{manga.photo}}</td><td>
						<img style="width:40px;height:40px" src="{{asset('images/')}}{{manga.photo}}" alt="image de {{manga.libelle}}" >
					</td>
					{% if manga.dispo < 10 %}
						<td>{{ Manga.dispo }}</td>
					{% else %}
						<td>Disponible</td>
					{% endif %}
					{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
						<td>
							<a href="{{ path('manga.edit', {id: manga.id}) }}">modifier</a>
							<a href="{{ path('manga.delete', {id: manga.id}) }}">supprimer</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

